In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
train = pd.read_csv("train_cleaned_text.csv", encoding = "ISO-8859-1")

In [3]:
train.head()

,Unnamed: 0,REGISTRY,SITE,GROUP,PATIENT_DISPLAY_ID,TUMOR_RECORD_NUMBER,RECORD_DOCUMENT_ID,TEXT_PATH_CLINICAL_HISTORY,TEXT_PATH_COMMENTS,TEXT_PATH_FORMAL_DX,TEXT_PATH_FULL_TEXT,TEXT_PATH_GROSS_PATHOLOGY,TEXT_PATH_MICROSCOPIC_DESC,TEXT_PATH_NATURE_OF_SPECIMENS,TEXT_PATH_STAGING_PARAMS,TEXT_PATH_SUPP_REPORTS_ADDENDA
0,0,REG3,COLON,0,451455,2,REC-5000719522,NaN,NaN,NaN,"<CLINICAL INFO> A. RULE OUT SPRUE, GIARDIA AND...",NaN,NaN,NaN,NaN,NaN
1,1,REG3,COLON,0,541798,3,REC-5000720380,NaN,NaN,NaN,<CLINICAL INFO> HISTORY OF POLYP <GROSS> The...,NaN,NaN,NaN,NaN,NaN
2,2,REG3,COLON,0,347923,2,REC-5000728853,NaN,NaN,NaN,CASE: GAO11-003406 PATIENT: **NAME[AAA BBB] <...,NaN,NaN,NaN,NaN,NaN
3,3,REG3,COLON,0,405167,3,REC-5000730121,NaN,NaN,NaN,"<CLINICAL INFO> Cecal carcinoma, lap right co...",NaN,NaN,NaN,NaN,NaN
4,4,REG3,COLON,0,411395,2,REC-5000732122,NaN,NaN,NaN,CASE: ***PATH-NUMBER[1] PATIENT: **NAME[AAA BB...,NaN,NaN,NaN,NaN,NaN

In [4]:
concat = train['TEXT_PATH_CLINICAL_HISTORY'].astype(str) + " " + train['TEXT_PATH_COMMENTS'].astype(str) + " " + train['TEXT_PATH_FORMAL_DX'].astype(str)+ " " + train['TEXT_PATH_FULL_TEXT'].astype(str)+ " " + train['TEXT_PATH_GROSS_PATHOLOGY'].astype(str)+ " " + train['TEXT_PATH_MICROSCOPIC_DESC'].astype(str)+ " " + train['TEXT_PATH_NATURE_OF_SPECIMENS'].astype(str)+ " " + train['TEXT_PATH_STAGING_PARAMS'].astype(str)+ " " + train['TEXT_PATH_SUPP_REPORTS_ADDENDA'].astype(str)
new = pd.DataFrame()
new['SITE'] = train['SITE']
new['PATIENT_DISPLAY_ID']= train['PATIENT_DISPLAY_ID']
new['Text'] = concat

In [5]:
new.Text[18]

'nan nan nan <CLINICAL HX> A) Cecal mass bxs. B) Rectal p. i. Adenoma vs hyperplasia. Submitted ICD9 codes 211.4, 211.3. STAT reading requested.    <HISTOLOGY COMMENT>     <GROSS> A.  In formalin labeled with the patient\'s name and "A" are approximately seven 1-3 mm pieces of tan tissue. Submitted as received in cassette A. B.  In formalin labeled with the patient\'s namd and "B" is a 5 mm piece of tan tissue. Submitted as received in cassette B.   <COMMENT>   <MICROSCOPIC> Six slides are examined (block A was exhausted).  <FINAL DX>  A.  CECUM, BIOPSIES DESIGNATED MASS:  ADENOCARCINOMA, INVASIVE, LOW-GRADE (WELL TO MODERATELY DIFFERENTIATED)  IN THIS MATERIAL.  B.  RECTAL POLYP:  TUBULAR ADENOMA.   <ANCILLARY STUDIES>   <EXTERNAL CONSULTATION>   <INTRADEPARTMENTAL CONSULTATION> The case was reviewed intradepartmentally.  <NOTIFICATION>   <PRELIM DX>   <CHECKLIST>   <IMMUNOHISTOCHEMISTRY>   <INDICATIORS>   <SPECIAL STAINS> nan nan nan nan nan'

In [6]:
new['Text'] = new.Text.str.lower()

In [7]:
text = new.Text.str.split(' ')

In [8]:
colon_count = []
breast_count = []
lung_count = []
prostate_count = []
other_count= []
for line in text:
    colcount = 0
    brcount = 0
    lucount = 0
    prcount = 0
    for word in line:
        if (word == 'colon'):
            colcount = colcount + 1
        if (word == 'breast'):
            brcount = brcount + 1
        if (word == 'lung'):
            lucount = lucount + 1
        if (word == 'prostate'):
            prcount = prcount + 1
    colon_count.append(colcount)
    breast_count.append(brcount)
    lung_count.append(lucount)
    prostate_count.append(prcount)

In [9]:
new['Other_count'] = 0
new['Colon_count'] = colon_count
new['lung_count'] = lung_count
new['breast_count'] = breast_count
new['prostate_count'] = prostate_count

In [10]:
new.head()

,SITE,PATIENT_DISPLAY_ID,Text,Other_count,Colon_count,lung_count,breast_count,prostate_count
0,COLON,451455,"nan nan nan <clinical info> a. rule out sprue,...",0,3,0,0,0
1,COLON,541798,nan nan nan <clinical info> history of polyp ...,0,2,0,0,0
2,COLON,347923,nan nan nan case: gao11-003406 patient: **name...,0,5,0,0,0
3,COLON,405167,"nan nan nan <clinical info> cecal carcinoma, ...",0,4,0,0,0
4,COLON,411395,nan nan nan case: ***path-number[1] patient: *...,0,1,0,0,0

In [14]:
nums = pd.DataFrame()
nums['Other_count'] = new['Other_count']
nums['Colon_count'] = colon_count
nums['lung_count'] = lung_count
nums['breast_count'] = breast_count
nums['prostate_count'] = prostate_count

In [15]:
nums

      Other_count  Colon_count  lung_count  breast_count  prostate_count
0               0            3           0             0               0
1               0            2           0             0               0
2               0            5           0             0               0
3               0            4           0             0               0
4               0            1           0             0               0
5               0            9           0             0               0
6               0            1           0             0               0
7               0            1           0             0               0
8               0            9           0             0               0
9               0            2           0             0               0
10              0            2           0             0               0
11              0            3           0             0               0
12              0            0           1             2               0
13              0            0           0             0               0
14              0            7           0             0               0
15              0            1           0             0               0
16              0            2           0             0               0
17              0            7           0             0               0
18              0            0           0             0               0
19              0            0           0             0               0
20              0            0           0             0               0
21              0            3           1             0               1
22              0            0           0             0               0
23              0            0           0             0               0
24              0            0           2             0               0
25              0            0           0             0               0
26              0            0           0             0               0
27              0            0           0             0               0
28              0            0           0             0               0
29              0            0           0             0               0
...           ...          ...         ...           ...             ...
1106            0            0           0             0              13
1107            0            0           0             0              13
1108            0            0           0             0              11
1109            0            0           0             0              11
1110            0            0           0             0              11
1111            0            0           0             0              13
1112            0            0           0             0              17
1113            0            0           0             0              16
1114            0            0           0             0              11
1115            0            0           0             0               9
1116            0            0           0             0               8
1117            0            0           0             0              13
1118            0            0           0             0              18
1119            0            0           0             0              10
1120            0            0           0             0               1
1121            0            0           0             0               1
1122            0            0           0             0              11
1123            0            0           0             0              10
1124            0            0           0             0               8
1125            0            0           0             0               9
1126            0            0           0             0               5
1127            0            0           0             0              14
1128            0            0           0             0               8
1129            0            0           0             0               5
1130            0            0           0             0              10
1131            0            0           0             0               5
1132            0            0           0             0              12
1133            0            0           0             0               5
1134            0            0           0             0              23
1135            0            0           0             0              21

[1136 rows x 5 columns]

In [20]:
arr = nums.values
argmaxvals  = np.argmax(arr, axis=1)
dec_list =['OTHER','COLON','LUNG','BREAST','PROSTATE']
dec_series = []
for i in range(np.shape(argmaxvals)[0]):
    dec_series.append(dec_list[argmaxvals[i]])

In [21]:
new['Prediction'] = dec_series

In [22]:
new.head(40)

,SITE,PATIENT_DISPLAY_ID,Text,Other_count,Colon_count,lung_count,breast_count,prostate_count,Prediction
0,COLON,451455,"nan nan nan <clinical info> a. rule out sprue,...",0,3,0,0,0,COLON
1,COLON,541798,nan nan nan <clinical info> history of polyp ...,0,2,0,0,0,COLON
2,COLON,347923,nan nan nan case: gao11-003406 patient: **name...,0,5,0,0,0,COLON
3,COLON,405167,"nan nan nan <clinical info> cecal carcinoma, ...",0,4,0,0,0,COLON
4,COLON,411395,nan nan nan case: ***path-number[1] patient: *...,0,1,0,0,0,COLON
5,COLON,448865,"nan nan nan part / description - seq# colon, ...",0,9,0,0,0,COLON
6,COLON,585233,nan nan nan <clinical info> history of colon c...,0,1,0,0,0,COLON
7,COLON,173516,"nan nan nan <final dx> a) right colon, resec...",0,1,0,0,0,COLON
8,COLON,588600,"nan nan nan part / description - seq# colon, ...",0,9,0,0,0,COLON
9,COLON,432475,"nan nan nan **name[zzz,yyy m] md **name[xx...",0,2,0,0,0,COLON
10,COLON,563035,"nan nan nan part / description - seq# colon, ...",0,2,0,0,0,COLON
11,COLON,481783,nan nan nan <clinical info> sigmoid colon carc...,0,3,0,0,0,COLON
12,COLON,343332,"nan nan nan **name[zzz,yyy m] md **name[xx...",0,0,1,2,0,BREAST
13,COLON,398952,nan nan nan <clinical info> **age[in 80s]-yea...,0,0,0,0,0,OTHER
14,COLON,531863,nan nan nan <specimen(s)> b. colon -right col...,0,7,0,0,0,COLON
15,COLON,462918,nan nan nan case: ***path-number[1] patient: *...,0,1,0,0,0,COLON
16,COLON,404575,nan nan nan <clinical info> history of colon ...,0,2,0,0,0,COLON
17,COLON,360744,nan nan nan <clinical hx> obstructing colon le...,0,7,0,0,0,COLON
18,COLON,88748,nan nan nan <clinical hx> a) cecal mass bxs. b...,0,0,0,0,0,OTHER
19,OTHER,516411,nan nan nan <clinical info> the patient is a ...,0,0,0,0,0,OTHER
20,OTHER,608909,nan nan nan case: ***path-number[1] patient: *...,0,0,0,0,0,OTHER
21,OTHER,369617,nan nan nan case: ***path-number[1] patient: *...,0,3,1,0,1,COLON
22,OTHER,434143,nan nan nan part / description - seq# vaginal...,0,0,0,0,0,OTHER
23,OTHER,213161,nan nan nan <clinical info> pancreatic mass. ...,0,0,0,0,0,OTHER
24,OTHER,621508,nan nan nan part / description - seq pleural ...,0,0,2,0,0,LUNG
25,OTHER,531681,nan nan nan <clinical info> <gross> <micros...,0,0,0,0,0,OTHER
26,OTHER,372093,nan nan nan <addendum> extradepartmental revie...,0,0,0,0,0,OTHER
27,OTHER,572094,nan nan nan clinical indication: mds pre...,0,0,0,0,0,OTHER
28,OTHER,720203,nan nan nan case: ***path-number[1] patient: *...,0,0,0,0,0,OTHER
29,OTHER,720504,nan nan nan clinical indication: aml pre...,0,0,0,0,0,OTHER
30,OTHER,328925,nan nan nan <clinical info> h/o endometrial ca...,0,0,0,0,0,OTHER
31,OTHER,719830,nan nan nan <clinical info> the patient is a ...,0,0,0,0,0,OTHER
32,OTHER,645915,nan nan nan <final dx> a) stomach anastomosis...,0,0,0,0,0,OTHER
33,OTHER,703225,"nan nan nan part / description - seq# skin, b...",0,0,0,2,0,BREAST
34,OTHER,475692,nan nan nan case: ***path-number[1] patient: *...,0,0,0,0,0,OTHER
35,OTHER,596543,nan nan nan case: ***path-number[1] patient: *...,0,0,0,0,0,OTHER
36,BREAST,114431,clinical diagnosis and history left chest wall...,0,0,0,3,0,BREAST
37,BREAST,118420,clinical history: history of bilateral breast ...,0,0,0,3,0,BREAST
38,BREAST,206013,clinical history: none given **** this is an a...,0,0,0,8,0,BREAST
39,BREAST,268629,clinical diagnosis and history lt breast calcs...,0,0,0,6,0,BREAST

In [19]:
np.mean(new.SITE == new.Prediction)

0.8617957746478874